@CHARSET "UTF-8";

/**
 * Feuille de style entièrement dédiée aux styles
 * de formulaires
 */
 
/* Engloble les tableaux mettant en page les formulaires */
.formArray
{

}

.formArray th
{
	background-color: #eeeeff;
	text-align: left;
	color: #888;
	padding: 10px;
}


/* Styles par défauts */
input {
    border: 1px solid #aaa;
    padding: 4px;
    background-color: #fff;
}

/* classe donnant une apparence "boutton" */
.button {
    border-left: 1px solid #A1BCD4;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid #A1BCD4;
    background-color: #4E67A7;
    color: white;
    font-weight: normal;
    padding: 2px;
}

/* Properties applied to form input elements who got this class */
.formInputLarge
{
    border: 1px solid #aaa;
    padding: 4px;
    background-color: #fff;
	width: 350px;
}

/* Elements de taille normale */
.formInputNormal
{
	border: 1px solid #aaa;
    padding: 4px;
    background-color: #fff;
	width: 200px;
}

/* Elements de taille normale */
.formInputXtraLarge
{
	border: 1px solid #aaa;
    padding: 4px;
    background-color: #fff;
	width: 98%;
}

/* Elements de courte taille */
.formInputShort
{
	border: 1px solid #aaa;
    padding: 4px;
    background-color: #fff;
	width: 80px;
}



/* liens/boutons "annuler/supprimer" */
.formLinkButton
{
    border-left: 1px solid #A1BCD4;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    border-top: 1px solid #A1BCD4;
    background-color: #cedeff;
    color: #666;
    font-weight: normal;
    padding: 2px 5px 2px 5px;
    font-size: 12px;
}
.formLinkButton:Hover
{
	text-decoration: none;
}




/* liens/boutons "ajouter un nouveau..." */
.addNew
{
	margin-top: 10px;
}
.addNew a
{
	color: #777;
	font-weight: bold;
	background-color: #eaeaea;
	padding: 3px 5px 3px 3px;
}
.addNew a:Hover
{
	text-decoration: none;
}