@CHARSET "UTF-8";

/*
 * Styles for login page. This file will be included from login/login 
 * action, by adding it to the sfWebResponse object at the last position,
 * so he will override all existing styles
 */

div#container .input a, div#login .input a:Hover {
  color: #496175;
  border-bottom: 1px dotted #496175;
  text-decoration: none;
}

div#container div {
  margin-top: 20px;
  text-align: left;
}



/* -------------------- layout -------------------- */

div#container {
  border: 6px solid #B6E9E3;
  margin: 15% auto 50px auto;
  width: 500px;
  background-color: #fff;
  padding: 5px;
}

div#container #foot {
  text-align: center;
  padding-bottom: 10px;
}



/* -------------------- titles -------------------- */

div#container h1 {
  margin: 0px 0 0 0;
  text-align: left;
  padding: 6px 3px 3px 10px;
  font-weight: lighter;
  font-size: 19px;
}

div#container h2 {
  font-family: Helvetica;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 10px 10px 10px 10px;
}




/* -------------------- form elements -------------------- */

div#container label {
  text-align: left;
  color: #8398A0;
  margin-left: 19px;
}

div#container #login_username, div#container #login_openid {
  padding: 5px;
  width: 97%;
  font-size: 15px;
  color: #658388;
}

div#container #login_password {
  color: #658388;
  font-size: 15px;
  padding: 5px;
  width: 170px;
}

div#container .input {
  padding: 3px;
  background-color: #BBE6EC;
  margin: 0px 0px 10px 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 90%;
  margin: auto;
}

div#container .input:Hover {
  background-color: #9AD3DB;
}

div#container .input input:focus {
  background-color: #F9FFB0;
}



/* -------------------- error elements -------------------- */

div#container .error_list li {
  font-weight: lighter;
}

p.error {
  margin-top: 1px;
  background-color :#CC3131;
  color: white;
}
